<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.idogfooding.wx.common">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>

        <!-- wx pay call back -->
        <activity
            android:name="${PACKAGE_NAME}.wxapi.WXPayEntryActivity"
            android:exported="true"/>

    </application>

</manifest>
